In [51]:
from moz_sql_parser import parse
import re

In [63]:
query ="ALTER TABLE Cal_pd DROP COLUMN MARAVAIL ,  MARSOLD ,  MARREV ,  MARAVAILLY ,  MARSOLDLY ,  MARREVLY ,  MKTAVAIL ,  MKTSOLD ,  MKTREV ,  MKTAVAILLY ,  MKTSOLDLY ,  MKTREVLY ;"
query = query.lower()

In [64]:
if query.startswith("alter"):
    if "drop" in query:
        # finding the table name:
        start_table = 'table'
        end_table = 'drop'
        table_name= query[query.find(start_table)+len(start_table):query.rfind(end_table)].strip()
        
        #finding the columns
        start_col = 'column'
        end_col = ';'
        drop_columns_list= query[query.find(start_col)+len(start_col):query.rfind(end_col)].strip().split(",")
        clean_drop_col_list=[i.strip() for i in drop_columns_list]
        if "." in table_name:
            table_name=table_name.split(".")[-1]
        else:
            table_name=table_name
        final_alter_df= table_name+".drop(columns="+str(clean_drop_col_list)+")"
        print(final_alter_df)
        
    else:
        pass
else:
    pass

cal_pd.drop(columns=['maravail', 'marsold', 'marrev', 'maravailly', 'marsoldly', 'marrevly', 'mktavail', 'mktsold', 'mktrev', 'mktavailly', 'mktsoldly', 'mktrevly'])

In [65]:
def alter_handler(query):
    if query.startswith("alter"):
        if "drop" in query:
            # finding the table name:
            start_table = 'table'
            end_table = 'drop'
            table_name= query[query.find(start_table)+len(start_table):query.rfind(end_table)].strip()
        
            #finding the columns
            start_col = 'column'
            end_col = ';'
            drop_columns_list= query[query.find(start_col)+len(start_col):query.rfind(end_col)].strip().split(",")
            clean_drop_col_list=[i.strip() for i in drop_columns_list]
            if "." in table_name:
                table_name=table_name.split(".")[-1]
            else:
                table_name=table_name
            final_alter_df= table_name+".drop(columns="+str(clean_drop_col_list)+")"
            return final_alter_df
        
        else:
            pass
    else:
        pass

In [67]:
alter_handler(query)

"cal_pd.drop(columns=['maravail', 'marsold', 'marrev', 'maravailly', 'marsoldly', 'marrevly', 'mktavail', 'mktsold', 'mktrev', 'mktavailly', 'mktsoldly', 'mktrevly'])"

In [66]:
#reference
# df.drop(columns=["day","city"])